[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opentelemetry-distro = "*"
requests = "*"
opentelemetry-exporter-prometheus = "*"
opentelemetry-exporter-otlp-proto-grpc = "*"

[dev-packages]

[requires]
python_version = "3.11"
